<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Liste des offres d'emploi</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des offres d'emploi</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Appel/Liste des offres d'emploi</li>
				</ul>
			</div>
		</div>
		<section id="content">
			<div class="container">
				<h:form>
					<h:panelGroup>
						<section id="content" class="gray-area">
							<div class="container">
								<div id="main">
									<div
										class="tab-container full-width-style arrow-left dashboard">
										<ul class="tabs">
											<li class=""><a data-toggle="tab" href="#profile"><i
													class="soap-icon-user circle"></i>Reclamation</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade in active">
												<div class="view-profile">
													<div class="form-group row">
														<div class="clearfix">
															<h:commandLink class="button btn-small pull-right"
																value="Consulter Publication" id="form_submit"
																action="#{reclamationbean.doSelectOffre()}">
															</h:commandLink>
														</div>
													</div>
													<figure
														class="image-box style2 box innerstyle personal-details">
														<a title="" href="#"><img width="270" height="263"
															alt="" src="http://placehold.it/270x263" /></a>
													</figure>

													<div class="details">

														<h1 class="box-title fullname">
															<h:outputText value="#{reclamationbean.rec.titre}" />
														</h1>
														<BR />
														<dl class="term-description">
															<dt>Date reclamation:</dt>
															<dd>
																<h:outputText value="#{reclamationbean.rec.dateRec}" />
															</dd>
															<dt>Type reclamation</dt>
															<dd>
																<h:outputText value="#{reclamationbean.rec.type}" />
															</dd>
															<dt>Envoyer par mr/mme</dt>
															<dd>
																<h:outputText
																	value="#{reclamationbean.rec.user.firstName}" />
															</dd>
														</dl>
													</div>
													<HR />
													<h2>Message</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{reclamationbean.rec.message}" />
														</p>
													</div>
													<hr />
													<h:commandLink
														class="button btn-small pull-right"
														action="#{reclamationbean.doAccepter()}"
														value="Accepter">
													</h:commandLink>
													<h:commandLink class="button btn-small pull-right"
													action="#{reclamationbean.doRefuser()}" value="suprimer">
													<f:setPropertyActionListener value="#{o}"
														target="#{offerBean.o}"></f:setPropertyActionListener>
												</h:commandLink>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</h:panelGroup>
				</h:form>
			</div>
		</section>


	</ui:define>
</ui:composition>