<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">Dashboard for Administration</ui:define>

	<ui:define name="MainContent">

		<section id="content" class="">
			<div class="container">
				<div class="tab-container full-width-style arrow-left dashboard">
					<ul class="tabs">
						<li class="active"><a data-toggle="tab" href="#dashboard"><i
								class="soap-icon-anchor circle"></i>Dashboard</a></li>
						<li class=""><a data-toggle="tab" href="#profile"><i
								class="soap-icon-user circle"></i>Claims</a></li>
						<li class=""><a data-toggle="tab" href="#booking"><i
								class="soap-icon-businessbag circle"></i>Events</a></li>
						<li class=""><a data-toggle="tab" href="#wishlist"><i
								class="soap-icon-wishlist circle"></i>Documents</a></li>
						<li class=""><a data-toggle="tab" href="#travel-stories"><i
								class="soap-icon-conference circle"></i>Centers</a></li>
						<li class=""><a data-toggle="tab" href="#settings"><i
								class="soap-icon-settings circle"></i>Offers</a></li>
						<li class=""><a data-toggle="tab" href="#settings1"><i
								class="soap-icon-settings circle"></i>Users</a></li>
					</ul>
					<div class="tab-content">
						<div id="dashboard" class="tab-pane fade in active">
							<h1 class="no-margin skin-color">Hi Admin Foulen ben Foulen</h1>
							<p>All your Management interfaces will appear here and you’ll
								be able to manage everything!</p>
							<br />
							<div class="row block">
								<div class="col-sm-6 col-md-3">
									<a href="hotel-list-view.html">
										<div class="fact blue">
											<div class="numbers counters-box">
												<dl>
													<dt class="display-counter" data-value="3200">0</dt>
													<dd>Research Centers</dd>
												</dl>
												<i class="icon soap-icon-hotel"></i>
											</div>
											<div class="description">
												<i class="icon soap-icon-longarrow-right"></i> <span>View
													Centers</span>
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-6 col-md-3">
									<a href="flight-list-view.html">
										<div class="fact yellow">
											<div class="numbers counters-box">
												<dl>
													<dt class="display-counter" data-value="4509">0</dt>
													<dd>Airlines to Travel</dd>
												</dl>
												<i class="icon soap-icon-plane"></i>
											</div>
											<div class="description">
												<i class="icon soap-icon-longarrow-right"></i> <span>View
													Flights</span>
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-6 col-md-3">
									<a href="car-list-view.html">
										<div class="fact red">
											<div class="numbers counters-box">
												<dl>
													<dt class="display-counter" data-value="3250">0</dt>
													<dd>VIP Transports</dd>
												</dl>
												<i class="icon soap-icon-car"></i>
											</div>
											<div class="description">
												<i class="icon soap-icon-longarrow-right"></i> <span>View
													Cars</span>
											</div>
										</div>
									</a>
								</div>
								<div class="col-sm-6 col-md-3">
									<a href="cruise-list-view.html">
										<div class="fact green">
											<div class="numbers counters-box">
												<dl>
													<dt class="display-counter" data-value="1570">0</dt>
													<dd>Celebrity Cruises</dd>
												</dl>
												<i class="icon soap-icon-cruise flip-effect"></i>
											</div>
											<div class="description">
												<i class="icon soap-icon-longarrow-right"></i> <span>View
													Cruises</span>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="notification-area">
								<div class="info-box block">
									<span class="close"></span>
									<p>This is your Dashboard, the place to check clients
										claims, respond to Centers proposition Requests, view Events
										Information, and much more.</p>
									<br />

								</div>
							</div>


							<hr />

						</div>
						<div id="profile" class="tab-pane fade">
							
							<ui:include src="/pages/admin/listReclamation.xhtml" />
						</div>
						<div id="booking" class="tab-pane fade">
							<h2>Trips You have Booked!</h2>
							

						</div>
						<div id="wishlist" class="tab-pane fade">
							<h2>Your Wish List</h2>
							
						</div>
						<div id="travel-stories" class="tab-pane fade">
							<h2>Share Your Story</h2>
							
						</div>
						<div id="settings" class="tab-pane fade">
						<ui:include src="/pages/admin/adminOffre.xhtml" />	
						</div>
						<div id="settings1" class="tab-pane fade">
							<h2>User Management</h2>
							<ui:include src="/pages/admin/UsersList.xhtml" />
							
						</div>
					</div>
				</div>
			</div>
		</section>

	</ui:define>
</ui:composition>