<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Liste des offres d'emploi</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des offres d'emploi</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Appel/Liste des offres d'emploi</li>
				</ul>
			</div>
		</div>
		<section id="content">
			<div class="container">
				<h:form>
					<h:panelGroup>
						<section id="content" class="gray-area">
							<div class="container">
								<div id="main">
									<div
										class="tab-container full-width-style arrow-left dashboard">
										<ul class="tabs">
											<li class=""><a data-toggle="tab" href="#profile"><i
													class="soap-icon-user circle"></i>Profile</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade in active">
												<div class="view-profile">
													<div class="form-group row">
														<div class="clearfix">
															<h:commandLink class="button btn-small pull-right"
																value="Reclamer" id="form_submit"
																action="#{offerBean.doselectRec()}">
															</h:commandLink>
														</div>
													</div>
												

													<div class="details">

														<h1 class="box-title fullname">
															<h:outputText value="#{reclamationbean.off.titre}" />
														</h1>
														<BR />
														<dl class="term-description">
															<dt>Societé:</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.societé}" />
															</dd>
															<dt>Domaine</dt>
															<dd>
															<h:outputText value="#{reclamationbean.off.domain}" />
															</dd>
															<dt>Date de publication:</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.dateFin}" />
															</dd>
															<dt>Reference de l'offre :</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.reference}" />
															</dd>
															<dt>Localisation:</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.mobilite}" />
															</dd>
															<dt>Type de contrat</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.typePoste}" />
															</dd>
															<dt>Salaire:</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.salaire}" />
															</dd>
															<dt>Experience:</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.experience}" />
															</dd>
															<dt>Adresse</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.adresse}" />
															</dd>
															<dt>Numéro du téléphone</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.numeroTel}" />
															</dd>
															<dt>E-Mail</dt>
															<dd>
																<h:outputText value="#{reclamationbean.off.email}" />
															</dd>

														</dl>
													</div>
													<HR />
													<h2>L'entreprise</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{reclamationbean.off.entreprise}" />
														</p>
													</div>
													<hr />
													<h2>Description de l'offre</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{reclamationbean.off.contexte}" />
														</p>
													</div>
													<hr />
													<h2>Profil recherché</h2>
													<div class="intro">
														<p>
															<h:outputText value="#{reclamationbean.off.profil}" />
														</p>
													</div>
													<hr />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</h:panelGroup>
				</h:form>
			</div>
		</section>


	</ui:define>
</ui:composition>