<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des offres d'emploi</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Liste des offres d'emploi</li>
				</ul>
			</div>
		</div>
		<section id="content">
			<div class="container">
				<h:form>
					<h:dataTable value="#{reclamationbean.reclamations}" var="r">
						<div id="main">
							<h:column>
								<div class="row">
									<div class="col-sm- col-md-">
										<div class="flight-list listing-style3 flight">
											<article class="box">
												<div class="details col-xs-10 col-sm-11">
													<div class="details-wrapper">
														<BR />
														<div class="first-row">

															<div>
																<h4 class="box-title">
																	<h:outputText value="#{r.titre}" />
																	<small><h:outputText value="#{r.type}" /></small>
																</h4>
															</div>
														</div>
														<div class="second-row">
															<div class="time">
																<div class="take-off col-sm-4">
																	<div class="icon">
																		<i class="soap-icon-plane-right yellow-color"></i>
																	</div>
																	<div>
																		<span class="skin-color">Date de la reclamation</span><br />
																		<h:outputText value="#{r.dateRec}" />
																	</div>
																</div>
																<div class="landing col-sm-4">
																	<div class="icon">
																		<i class="soap-icon-plane-right yellow-color"></i>
																	</div>
																	<div>
																		<span class="skin-color">Envoyé par Mr/Mme</span><br />
																		<h:outputText value="#{r.user.lastName}" />
																	</div>
																</div>
															</div>
															<div class="action">
															<h:commandLink class="button btn-small pull-right"
																value="Afficher la reclamation" id="form_submit"
																action="#{reclamationbean.doSelect(r)}">
															</h:commandLink>
															</div>
														</div>
														<BR />
													</div>
												</div>
											</article>
										</div>
									</div>
								</div>
							</h:column>
						</div>
					</h:dataTable>
				</h:form>
			</div>
		</section>


	
</ui:composition>