<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">Home</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div id="slideshow">
			<div class="fullwidthbanner-container">
				<div class="revolution-slider" style="height: 0; overflow: hidden;">
					<ul>
						<!-- SLIDE  -->
						<!-- Slide1 -->
						<li data-transition="zoomin" data-slotamount="7"
							data-masterspeed="1500">
							<!-- MAIN IMAGE --> <img
							src="#{request.contextPath}/ressources/images/3.JPG" alt="" />
						</li>

						<!-- Slide2 -->
						<li data-transition="zoomout" data-slotamount="7"
							data-masterspeed="1500">
							<!-- MAIN IMAGE --> <img
							src="#{request.contextPath}/ressources/images/thPJCIQTV3.jpg"
							alt="" />
						</li>

						<!-- Slide3 -->
						<li data-transition="slidedown" data-slotamount="7"
							data-masterspeed="1500">
							<!-- MAIN IMAGE --> <img
							src="#{request.contextPath}/ressources/images/centre_culturel_madart_carthage.jpg"
							alt="" />
						</li>
					</ul>
				</div>
			</div>
		</div>


		<section id="content">
			<div class="search-box-wrapper">
				<div class="search-box container">
					<ul class="search-tabs clearfix">
						<li class="active"><a href="#hotels-tab" data-toggle="tab">Bibliothéques</a></li>
						<li><a href="#flights-tab" data-toggle="tab">Documents</a></li>
						<li><a href="#flight-and-hotel-tab" data-toggle="tab">Evenements
						</a></li>
						<li><a href="#cars-tab" data-toggle="tab">offres d'emploi
						</a></li>
						<li><a href="#online-checkin-tab" data-toggle="tab">Bourses
						</a></li>
					</ul>
					<div class="search-tab-content">

						<div class="tab-pane fade active in " id="hotels-tab">
							<h:form>
								<div class="row">
									<div class="col-md-6">
										<h4 class="title">Nom de la bibliotheque</h4>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>NOM</label>
												<h:inputText type="text" class="input-text full-width"
													placeholder="nom" value="#{cdBean.centredoc.cen_nom}" />
											</div>
											<div class="col-xs-6">
												<label>A proximité de </label>
												<h:inputText type="text" class="input-text full-width"
													placeholder="nom" value="#{cdBean.local.cen_pays}" />
											</div>
											<div class="col-xs-6">
												<label>A proximité de </label>
												<h:inputText type="text" class="input-text full-width"
													placeholder="nom" value="#{cdBean.local.cen_ville}" />
											</div>
											<div class="col-xs-6">
												<label>A proximité de </label>
												<h:inputText type="text" class="input-text full-width"
													placeholder="nom" value="#{cdBean.centredoc.type}" />
											</div>
											<div class="col-xs-6">
												<label>A proximité de </label>
												<h:inputText type="text" class="input-text full-width"
													placeholder="nom"
													value="#{cdBean.centredoc.recommandation}" />
											</div>
										</div>
									</div>


									<div class="form-group col-md-2 fixheight">
										<label class="hidden-xs"></label> <BR />
										<h:commandButton class="icon-check full-width" value="show"
											action="#{cdBean.recupNOM(cdBean.centredoc, cdBean.local)}" />
									</div>
								</div>
							</h:form>
						</div>

						<div class="tab-pane fade " id="flights-tab">
							<form action="flight-list-view.html" method="post">
								<div class="row">
									<div class="col-md-6">
										<h4 class="title">Recherche d'un document</h4>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>title</label> <input type="text"
													class="input-text full-width" placeholder="title" />
											</div>
											<div class="col-xs-6">
												<label>auteur </label> <input type="text"
													class="input-text full-width" placeholder="auteur" />
											</div>
										</div>
									</div>

									<div class="form-group col-md-2 fixheight">
										<label class="hidden-xs"></label> <BR />
										<button class="icon-check full-width">RECHERCHER</button>
									</div>
								</div>
							</form>
						</div>

						<div class="tab-pane fade " id="flight-and-hotel-tab">
							<form action="flight-list-view.html" method="post">
								<div class="row">
									<div class="col-md-6">
										<h4 class="title">rechercher un evenement</h4>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>title</label> <input type="text"
													class="input-text full-width" placeholder="title" />
											</div>
											<div class="col-xs-6">
												<label>lieu </label> <input type="text"
													class="input-text full-width" placeholder="lieu" />
											</div>
										</div>
									</div>


									<div class="form-group col-md-2 fixheight">
										<label class="hidden-xs"></label> <BR />
										<button class="icon-check full-width">RECHERCHER</button>
									</div>
								</div>
							</form>
						</div>

						<div class="tab-pane fade" id="cars-tab">
							<h:form action="flight-list-view.html" method="post">
								<div class="row">
									<div class="col-md-6">
										<h4 class="title">Rechercher un offre d'emploi</h4>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>poste</label>
												<h:inputText class="input-text full-width"
													placeholder="titre" value="#{offerBean.title}" />
											</div>
											<div class="col-xs-6">
												<label>Domaine</label>
												<h:inputText class="input-text full-width"
													placeholder="domaine" value="#{offerBean.lieu}" />
											</div>
										</div>
									</div>
									<h:commandLink class="button btn-small pull-right"
										action="#{offerBean.doSelectRecheche()}" value="Rechercher">
									</h:commandLink>
								</div>
							</h:form>
						</div>

						<div class="tab-pane fade" id="online-checkin-tab">
							<h:form action="flight-list-view.html" method="post">
								<div class="row">
									<div class="col-md-6">
										<h4 class="title">Rechercher une bourse</h4>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>Nom du bourse</label>
												<h:inputText class="input-text full-width"
													placeholder="titre" value="#{offerBean.title}" />
											</div>
											<div class="col-sm-6 col-md-5">
												<label>Type de Bourse</label>
												<div class="selector">
													<h:selectOneMenu class="full-width"
														value="#{offerBean.lieu}">
														<f:selectItem
															itemValue="Bourses et subventions du gouvernement "
															itemLabel="Bourses et subventions du gouvernement " />
														<f:selectItem itemValue="Collège Bourses spécifiques "
															itemLabel="Collège Bourses spécifiques " />
														<f:selectItem
															itemValue="Entreprises et des organisations  "
															itemLabel="Entreprises et des organisations  " />
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</div>
									<h:commandLink class="button btn-small pull-right"
										action="#{offerBean.doSelectRechecheBourse()}"
										value="Rechercher">
									</h:commandLink>
								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>
			<div class="container section">
				<h2>les evenements des derniers jours</h2>
				<div class="image-carousel style2" data-animation="slide"
					data-item-width="370" data-item-margin="30">
					<ul class="slides image-box style10">
						<li class="box post">
							<figure>
								<a href="pages-blog-read.html" class="hover-effect"><img
									src="http://placehold.it/370x262" alt="" /></a>
								<figcaption class="entry-date">
									<label class="date">29</label> <label class="month">Aug</label>
								</figcaption>
							</figure>
							<div class="details">
								<a href="pages-blog-read.html" class="button">MORE</a>
								<h4 class="post-title entry-title">Single Image Post Title
									here</h4>
								<div class="post-meta single-line-meta vcard">
									By <span class="fn"><a rel="author" href="#"
										class="author">admin</a></span> <span class="sep">|</span> <a
										href="#" class="comment">1 COMMENT</a> <span
										class="hidden updated">Aug 29, 2013</span>
								</div>
							</div>
						</li>
						<li class="box post">
							<figure>
								<a href="pages-blog-read.html" class="hover-effect"><img
									src="http://placehold.it/370x262" alt="" /></a>
								<figcaption class="entry-date">
									<label class="date">29</label> <label class="month">Aug</label>
								</figcaption>
							</figure>
							<div class="details">
								<a href="pages-blog-read.html" class="button">MORE</a>
								<h4 class="post-title entry-title">Image Gallery Post Title
									here</h4>
								<div class="post-meta single-line-meta vcard">
									By <span class="fn"><a rel="author" href="#"
										class="author">admin</a></span> <span class="sep">|</span> <a
										href="#" class="comment">1 COMMENT</a> <span
										class="hidden updated">Aug 29, 2013</span>
								</div>
							</div>
						</li>
						<li class="box post">
							<figure>
								<a href="pages-blog-read.html" class="hover-effect"><img
									src="http://placehold.it/370x262" alt="" /></a>
								<figcaption class="entry-date">
									<label class="date">29</label> <label class="month">Aug</label>
								</figcaption>
							</figure>
							<div class="details">
								<a href="pages-blog-read.html" class="button">MORE</a>
								<h4 class="post-title entry-title">Single Image Post Title
									here</h4>
								<div class="post-meta single-line-meta vcard">
									By <span class="fn"><a rel="author" href="#"
										class="author">admin</a></span> <span class="sep">|</span> <a
										href="#" class="comment">1 COMMENT</a> <span
										class="hidden updated">Aug 29, 2013</span>
								</div>
							</div>
						</li>
						<li class="box post">
							<figure>
								<a href="pages-blog-read.html" class="hover-effect"><img
									src="http://placehold.it/370x262" alt="" /></a>
								<figcaption class="entry-date">
									<label class="date">29</label> <label class="month">Aug</label>
								</figcaption>
							</figure>
							<div class="details">
								<a href="pages-blog-read.html" class="button">MORE</a>
								<h4 class="post-title entry-title">Single Image Post Title
									here</h4>
								<div class="post-meta single-line-meta vcard">
									By <span class="fn"><a rel="author" href="#"
										class="author">admin</a></span> <span class="sep">|</span> <a
										href="#" class="comment">1 COMMENT</a> <span
										class="hidden updated">Aug 29, 2013</span>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="row block">
					<div class="col-sm-6">
						<h2>Les bourses internationales</h2>
						<div class="toggle-container box" id="accordion1">
							<div class="panel style1">
								<h4 class="panel-title">
									<a href="#acc1" data-toggle="collapse"
										data-parent="#accordion1">Travel Insurance Single Person</a>
								</h4>
								<div class="panel-collapse collapse in" id="acc1">
									<div class="panel-content">
										<p>Nunc cursus libero purus ac congue ar lorem cursus ut
											sed pulvinar massa iden porta nequetiam elerisque mi id
											habitant morbi tristique senectus.</p>
									</div>
									<!-- end content -->
								</div>
							</div>

							<div class="panel style1">
								<h4 class="panel-title">
									<a class="collapsed" href="#acc2" data-toggle="collapse"
										data-parent="#accordion1">Inflight Dinner/ Lunch Deal</a>
								</h4>
								<div class="panel-collapse collapse" id="acc2">
									<div class="panel-content">
										<p>Nunc cursus libero purus ac congue ar lorem cursus ut
											sed pulvinar massa iden porta nequetiam elerisque mi id
											habitant morbi tristique senectus.</p>
									</div>
									<!-- end content -->
								</div>
							</div>

							<div class="panel style1">
								<h4 class="panel-title">
									<a class="collapsed" href="#acc3" data-toggle="collapse"
										data-parent="#accordion1">Luxury Appartment for Family</a>
								</h4>
								<div class="panel-collapse collapse" id="acc3">
									<div class="panel-content">
										<p>Nunc cursus libero purus ac congue ar lorem cursus ut
											sed pulvinar massa iden porta nequetiam elerisque mi id
											habitant morbi tristique senectus.</p>
									</div>
									<!-- end content -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<h2>What Travelers Say?</h2>
						<div class="testimonial style1 box">
							<ul class="slides ">
								<li>
									<p class="description">This is the 3rd time I’ve used
										Travelo website and telling you the truth their services are
										always realiable and it only takes few minutes to plan and
										finalize your entire trip using their extremely fast website
										and up to date listings. I’m super excited about my next trip
										to Paris.</p>
									<div class="author clearfix">
										<a href="#"><img src="http://placehold.it/270x270" alt=""
											width="74" height="74" /></a>
										<h5 class="name">
											Jessica Brown<small>guest</small>
										</h5>
									</div>
								</li>
								<li>
									<p class="description">This is the 3rd time I’ve used
										Travelo website and telling you the truth their services are
										always realiable and it only takes few minutes to plan and
										finalize your entire trip using their extremely fast website
										and up to date listings. I’m super excited about my next trip
										to Paris.</p>
									<div class="author clearfix">
										<a href="#"><img src="http://placehold.it/270x270" alt=""
											width="74" height="74" /></a>
										<h5 class="name">
											Lisa Kimberly<small>guest</small>
										</h5>
									</div>
								</li>
								<li>
									<p class="description">This is the 3rd time I’ve used
										Travelo website and telling you the truth their services are
										always realiable and it only takes few minutes to plan and
										finalize your entire trip using their extremely fast website
										and up to date listings. I’m super excited about my next trip
										to Paris.</p>
									<div class="author clearfix">
										<a href="#"><img src="http://placehold.it/270x270" alt=""
											width="74" height="74" /></a>
										<h5 class="name">
											Jessica Brown<small>guest</small>
										</h5>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<BR />
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="icon-box style3 counters-box">
							<div class="numbers">
								<i class="soap-icon-places select-color"></i> <span
									class="display-counter" data-value="3200">0</span>
							</div>
							<div class="description">Nombre de visiteurs</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="icon-box style3 counters-box">
							<div class="numbers">
								<i class="soap-icon-hotel skin-color"></i> <span
									class="display-counter" data-value="5738">0</span>
							</div>
							<div class="description">Nombre des documents télécharger</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="icon-box style3 counters-box">
							<div class="numbers">
								<i class="soap-icon-plane green-color"></i> <span
									class="display-counter" data-value="4509">0</span>
							</div>
							<div class="description">Nombre de bibliothéques</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="icon-box style3 counters-box">
							<div class="numbers">
								<i class="soap-icon-car red-color"></i> <span
									class="display-counter" data-value="3250">0</span>
							</div>
							<div class="description">Nombre d'offres d'emploi</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</ui:define>
	<ui:define name="footerContent"></ui:define>

</ui:composition>