<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">Home</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
	<div id="page-wrapper">
        
        
        <section id="content">
            <div class="search-box-wrapper">
                <div class="search-box container">
                    
                   
                    <div class="search-tab-content">
                        <div class="tab-pane fade active in" id="hotels-tab">
                            <form action="hotel-list-view.html" method="post">
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-3">
                                        <br /><br /><br />
                                        <br />
                                        <label>Nom Du Centre</label>
                                        <input type="text" class="input-text full-width" placeholder="enter a destination or hotel name"></input>
                                    </div>
                                    
                                    <div class="form-group col-sm-6 col-md-6">
                                        <h4 class="title">Plus De Détails</h4>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Pays</label>
                                                
                                                    <input type="text" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1522542106599"></input>
                                                
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Ville</label>
                                                <div >
                                                    <input type="text" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1522542106600"></input>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Type</label>
                                                <div >
                                                    <input type="text" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1522542106600"></input>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Minimum de Recommandation</label>
                                                <div class="selector">
                                                    <select class="full-width">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                    </select><span class="custom-select full-width">01</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                    </div>                                     
                            </form>
                        </div>
                      
                    </div>
                </div>
            </div>
            
            
            
            
            
            
            <div class="section">
                <div class="container">
                    <h2>Centre Recommandés</h2>
                    
                    <div class="block image-carousel style2 flexslider" data-animation="slide" data-item-width="270" data-item-margin="30">
                        
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    
                    <ul class="slides image-box listing-style2" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(0px, 0px, 0px);">
                     
                     <ui:repeat  value="#{cdBean.all}" var="cd">
                    
                    
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img src="http://placehold.it/270x160" alt="" width="270" height="160" draggable="false"></img></a>
                                    </figure>
                                    <div class="details">
                                        <a title="View all" href="hotel-detailed.html" class="pull-right button uppercase">select</a>
                                        <h4 class="box-title"><h:outputText value="#{cd.cen_nom}" /></h4>
                    					                    
                                        <label class="price-wrapper">
                                        <h:outputText value="#{cd.cen_nom}" />
                                        </label>
                                    </div>
                                </article>
                            </li>
                     
                     </ui:repeat>
                          		
                        </ul>
                    
                        </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">5</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                    
                    
                    
                    
                    
                    
                    
                    <div class="block row">
                        <div class="col-md-6">
                            <h2>Centres à Proximité</h2>
                            <div class="tab-container style1 box">
								<ui:repeat  value="#{cdBean.aprox}" var="cd">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="hot-hotel-popular">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <a href="#" class="badge-container"><span class="badge-content">save 23%</span><img class="full-width" src="http://placehold.it/63x63" alt="" width="63" height="63"></img></a>
                                            </div>
                                            <div class="col-xs-8">
                                                <h5 class="box-title"><small><h:outputText value="#{cd.cen_nom}" /></small></h5>
                                                <p class="no-margin">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                            </div>
                                            <div class="col-xs-2">
                                                <span class="price"><small>avg/night</small>$115</span>
                                                <br />
                                                <a class="button green-bg pull-right" href="hotel-detailed.html">SELECT</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                </ui:repeat>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>What Travelers Say?</h2>
                            <div class="testimonial style1 box">
                                
                            <div class="testimonial-viewport" style="overflow: hidden; position: relative;"><ul class="slides " style="width: 600%; transition-duration: 0s; transform: translate3d(-1040px, 0px, 0px);">
                                    <li class="" style="width: 520px; float: left; display: block; height: 200px;">
                                        <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                        <div class="author clearfix">
                                            <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" draggable="false"></img></a>
                                            <h5 class="name">Jessica Brown<small>guest</small></h5>
                                        </div>
                                    </li>
                                    <li style="width: 520px; float: left; display: block; height: 200px;" class="">
                                        <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                        <div class="author clearfix">
                                            <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" draggable="false"></img></a>
                                            <h5 class="name">Lisa Kimberly<small>guest</small></h5>
                                        </div>
                                    </li>
                                    <li style="width: 520px; float: left; display: block; height: 200px;" class="testimonial-active-slide">
                                        <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                        <div class="author clearfix">
                                            <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" draggable="false"></img></a>
                                            <h5 class="name">Jessica Brown<small>guest</small></h5>
                                        </div>
                                    </li>
                                </ul></div><ol class="testimonial-control-nav testimonial-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="testimonial-active">3</a></li></ol></div>
                        </div>
                    </div>
                    
                    <h2>Travelers Choice of Hotels</h2>
                    <div class="image-carousel style2 flexslider" data-animation="slide" data-item-width="270" data-item-margin="30">
                        
                    <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides image-box hotel listing-style1" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-300px, 0px, 0px);">
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160" draggable="false"></img></a>
                                    </figure>
                                    <div class="details">
                                        <span class="price">
                                            <small>avg/night</small>
                                            $360
                                        </span>
                                        <h4 class="box-title">Hotel Hilton<small>Paris france</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="" data-original-title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                            <span class="review">270 reviews</span>
                                        </div>
                                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                        <div class="action">
                                            <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                            <a class="button btn-small yellow popup-map" href="#" data-box="48.856614, 2.352222">VIEW ON MAP</a>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160" draggable="false"></img></a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>avg/night</small>$188</span>
                                        <h4 class="box-title">Forte Do Vale<small>Albufeira</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="" data-original-title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                            <span class="review">170 reviews</span>
                                        </div>
                                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                        <div class="action">
                                            <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                            <a class="button btn-small yellow popup-map" href="#" data-box="37.089072, -8.247880">VIEW ON MAP</a>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160" draggable="false"></img></a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>avg/night</small>$322</span>
                                        <h4 class="box-title">Gran Canaria<small>spain</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="" data-original-title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                            <span class="review">485 reviews</span>
                                        </div>
                                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                        <div class="action">
                                            <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                            <a class="button btn-small yellow popup-map" href="#" data-box="40.463667, -3.749220">VIEW ON MAP</a>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160" draggable="false"></img></a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>avg/night</small>$170</span>
                                        <h4 class="box-title">Roosevelt Hotel<small>New york</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="" data-original-title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                            <span class="review">75 reviews</span>
                                        </div>
                                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                        <div class="action">
                                            <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                            <a class="button btn-small yellow popup-map" href="#" data-box="40.705631, -73.978003">VIEW ON MAP</a>
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160" draggable="false"></img></a>
                                    </figure>
                                    <div class="details">
                                        <span class="price">
                                            <small>avg/night</small>
                                            $360
                                        </span>
                                        <h4 class="box-title">Hotel Hilton<small>Paris france</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="" data-original-title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                            <span class="review">270 reviews</span>
                                        </div>
                                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                        <div class="action">
                                            <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                            <a class="button btn-small yellow popup-map" href="#" data-box="48.856614, 2.352222">VIEW ON MAP</a>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">5</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                </div>
            </div>
            
            
        </section>
        
        
    </div>
	
	</ui:define>
	<ui:define name="footerContent"></ui:define>

</ui:composition>