<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml"
                xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Ajouter Un Evenement</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Ajouter Un Evenement</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">Ajouter Un Evenement</li>
				</ul>
			</div>
		</div>
		<section id="content" class="gray-area">
			<div class="container">
				<div class="row">
					<div id="main" class="col-sms-6 col-sm-8 col-md-9">
						<div class="booking-section travelo-box">

							<h:form class="booking-form" enctype="multipart/form-data" >
								<div class="person-information">
									<h2>Détails de l'evenement</h2>
									<div class="form-group row">
										 <div class="col-sm-6 col-md-5">
											<label>Nom</label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.nom}" required="true" />
										</div> 
										<div class="col-sm-6 col-md-5">
											<label>Tel</label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.tel}" required="true" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Nombre de place</label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.nbrPlace}"/>
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Nombre de place à Reserver</label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.nbrPlaceReser}" required="true"/>
										</div>
									 	 <div class="col-sm-6 col-md-5">
											<label>Date de Debut </label>
											<div class="constant-column-2">
												<div class="datepicker-wrap">
													 <h:inputText type="text" class="input-text full-width"
														placeholder="dd/mm/yyyy" required="true"
														value="#{evenementBean.e.dateDebut}" >
														<f:convertDateTime type="date" pattern="MM/dd/yyyy"/>
														</h:inputText>
												</div>


											</div>
										</div>   
										<div class="col-sm-6 col-md-5">
											<label>Date de Fin </label>
											<div class="constant-column-2">
												<div class="datepicker-wrap">
													 <h:inputText type="text" class="input-text full-width"
														placeholder="dd/mm/yyyy"
														value="#{evenementBean.e.dateFin}" required="true">
														<f:convertDateTime type="date" pattern="MM/dd/yyyy"/>
														</h:inputText> 
												</div>


											</div>
										</div>  
									</div>
								</div>
									 <div class="form-group row">
										<div class="col-sm-6 col-md-5">
											<label>Lieu</label>
											<h:inputText type="text"
												value="#{evenementBean.e.lieux}" required="true"
												class="input-text full-width" placeholder="" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Localisation</label>
											<h:inputText type="text" class="input-text full-width"
												placeholder="" value="#{evenementBean.e.map}" required="true"/>
										</div>
										</div> 
									
									 <div class="form-group row">
								 <div class="col-sm-6 col-md-5">
									<label>Type</label>
									<div class="selector">
										<h:selectOneMenu value="#{evenementBean.e.type}" class="full-widthvalue=">
										   <f:selectItem itemLabel="Sélectionner un Type  " itemValue=""/>
										   <f:selectItems  value="#{data.typeOfEvents}" />
										</h:selectOneMenu>
									</div>
								</div>  
								
								 <div class="col-sm-6 col-md-5">
									<label>Prix</label>
									<div class="selector">
										<h:inputText type="text" class="input-text full-width"
											placeholder="" required="true" value="#{evenementBean.e.prix}" />
									</div>
								</div> 
								
				
						<hr />
						<div class="card-information">
						<hr/>
						<hr/>
										<h2>Description de l'Evenement:</h2>
										<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>Contexte</label>
												<h:inputTextarea rows="6" class="input-text full-width"
													placeholder="type here your message"
													value="#{evenementBean.e.description}" />
											</div>

										</div>

									</div> 
					</div> 
					<hr />
					<div class="form-group row">
						<div class="col-sm-6 col-md-5">
							<div Class="full-width btn-large">
							 <h:inputFile value="#{evenementBean.file}" /> 
							 
							<p:messages showDetail="true"/>
    <p:captcha label="Captcha" />
    <p:commandButton value="Check" actionListener="#{evenementBean.submit()}" ajax="false" icon="ui-icon-check"/>
							
								<h:commandButton value="Ajouter" id="form_submit"
									action="#{evenementBean.doAddEvent()}">
									
									</h:commandButton>
									
							</div>
						</div>
					</div>
					</h:form>
	
				
				</div>

			</div>
			</div>
			<div class="sidebar col-sms-6 col-sm-4 col-md-3">
				<div class="booking-details travelo-box">


					<div class="travelo-box contact-box">
						<h4>Need Travelo Help?</h4>
						<p>We would be more than happy to help you. Our team advisor
							are 24/7 at your service to help you.</p>
						<address class="contact-details">
							<span class="contact-phone"><i class="soap-icon-phone"></i>
								1-800-123-HELLO</span> <BR /> <a class="contact-email" href="#">help@travelo.com</a>
						</address>
					</div>
				</div>
			</div>
			</div>

		</section>


	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>