<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml"
                xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">Ajouter Un Evenement</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Ajouter Un Evenement</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">Ajouter Un Evenement</li>
				</ul>
			</div>
		</div>
		<section id="content" class="gray-area">
			<div class="container">

<p:chart type="bar" model="#{barChartEvent.barModel}" style="height:300px"/>

			</div>

		</section>


	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>