<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">Ajouter Un Evenement</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Update Document</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">Update Document</li>
				</ul>
			</div>
		</div>
		<section id="content" class="gray-area">
			<div class="container">
				<div class="row">
					<div id="main" class="col-sms-6 col-sm-8 col-md-9">
						<div class="booking-section travelo-box">

							<h:form>
						       <div class="person-information">
									<h2>Document Information</h2>
									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
											<label>Name : </label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{documentBean.document.name}" />
										</div>
										
										<div class="col-sm-6 col-md-5">
											<label>Description :</label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{documentBean.document.description}" />
										</div>
										
									

										

									</div>
								</div>
							<hr />
					
              <h:commandButton action="#{documentBean.DoEdit()}" value="Update Document" class="button btn-small green"/>
							
							</h:form>
				
				</div>

			</div>
			</div>
			
			</div>

		</section>


	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>