<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">Modifier Evenement</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Modifier Evenement</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">Modifier Evenement</li>
				</ul>
			</div>
		</div>
		<section id="content" class="gray-area">
			<div class="container">
				<div class="row">
					<div id="main" class="col-sms-6 col-sm-8 col-md-9">
						<div class="booking-section travelo-box">

							<h:form class="booking-form" enctype="multipart/form-data">
								<div class="person-information">
									<h2>Détails de l'annonce</h2>
									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
											<h:inputHidden class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.idEvent}" />
												<label>Nom</label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.nom}" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Date de Début </label>
											<div class="constant-column-2">
													<div class="constant-column-2">
													<div class="datepicker-wrap">
														<h:inputText value="#{evenementBean.e.dateDebut}" type="text" class="input-text full-width">
															<f:convertDateTime pattern="MM/dd/yyyy"/>
														</h:inputText>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Date de Fin </label>
											<div class="constant-column-2">
													<div class="constant-column-2">
													<div class="datepicker-wrap">
														<h:inputText value="#{evenementBean.e.dateFin}" type="text" class="input-text full-width">
															<f:convertDateTime pattern="MM/dd/yyyy"/>
														</h:inputText>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
											<label>Tel</label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.tel}" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Nombre de Place  </label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.nbrPlace}" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Nombre de Place à Reserver  </label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.nbrPlaceReser}" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Prix  </label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{evenementBean.e.prix}" />
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
											<label>Lieu</label>
											<h:inputText value="#{evenementBean.e.lieux}"  type="text" 
												class="input-text full-width" placeholder="" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Map</label>
											<h:inputText type="text" class="input-text full-width"
												placeholder="" value="#{evenementBean.e.map}" />
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
											<label>Type</label>
											<div class="selector">
												<h:selectOneMenu value="#{evenementBean.e.type}"
													class="full-widthvalue=">
										
                                                    <f:selectItem
												itemValue="Séminaire" itemLabel="Séminaire" />
                                                    <f:selectItem
												itemValue="Colloque" itemLabel="Colloque" />
                                                    <f:selectItem
												itemValue="Journee_etude" itemLabel="Journee_etude" />
                                                    <f:selectItem
												itemValue="Cycle_de_conferences "
												itemLabel="Cycle_de_conferences " />
												</h:selectOneMenu>
											</div>
										</div>

									</div>
									<hr />
									<div class="card-information">
										<h2>Description de l'Evenement:</h2>
										<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>Contexte</label>
												<h:inputTextarea rows="6" class="input-text full-width"
													placeholder="type here your message"
													value="#{evenementBean.e.description}" />
											</div>
											 
											
										</div>
									
									</div>
										<div class="card-information">
										<h2>Image:</h2>
										<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												
												<img src="#{evenementBean.e.img}" /> 
												
											</div>
											 
											
										</div>
									
									</div>
									<hr />
									<div class="form-group row">
										<div class="clearfix">
										
											<h:commandLink class="button btn-small pull-right"
												value="Confirmer" id="form_submit"
												action="#{evenementBean.edit()}">
											</h:commandLink>
										</div>
									</div>
								</div>
							</h:form>
						</div>
					</div>
					<div class="sidebar col-sms-6 col-sm-4 col-md-3">
						<div class="booking-details travelo-box">
							<div class="travelo-box contact-box">
								<h4>Need Travelo Help?</h4>
								<p>We would be more than happy to help you. Our team advisor
									are 24/7 at your service to help you.</p>
								<address class="contact-details">
									<span class="contact-phone"><i class="soap-icon-phone"></i>
										1-800-123-HELLO</span> <BR /> <a class="contact-email" href="#">help@travelo.com</a>
								</address>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>