<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">new offer</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Proposer un offre d'emploi</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">Proposer un offre d'emploi</li>
				</ul>
			</div>
		</div>
		<section id="content" class="gray-area">
			<div class="container">
				<div class="row">
					<div id="main" class="col-sms-6 col-sm-8 col-md-9">
						<div class="booking-section travelo-box">
							<h:form class="booking-form">
								<div class="person-information">
									<h2>Détails de la bourse</h2>
									<div class="form-group row">
										<h:inputHidden class="input-text full-width" placeholder="ref"
											value="#{offerBean.o.id}" />
										<div class="col-sm-6 col-md-5">
											<label>Réference</label>
											<h:inputText class="input-text full-width" placeholder="ref"
												value="#{offerBean.o.reference}" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Date d'expiration </label>
											<div class="constant-column-2">
													<div class="datepicker-wrap">
													<h:inputText type="text" class="input-text full-width"
														value="#{offerBean.o.dateFin}">
														<f:convertDateTime pattern="MM/dd/yyyy" />
													</h:inputText>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
													<div class="col-sm-6 col-md-5">
														<label>Adresse E-Mail </label>
														<h:inputText class="input-text full-width"
															placeholder="ref" value="#{offerBean.o.email}" />
													</div>
													<div class="col-sm-6 col-md-5">
														<label>Numero Téléphone </label>
														<h:inputText class="input-text full-width"
															placeholder="ref" value="#{offerBean.o.numeroTel}" />
													</div>
												</div>

									<div class="form-group row">
										<div class="col-sm-6 col-md-5">
											<label>Titre  </label>
											<h:inputText type="text" value="#{offerBean.o.titre}"
												class="input-text full-width" placeholder="" />
										</div>
										<div class="col-sm-6 col-md-5">
											<label>Localisation</label>
											<h:inputText type="text" class="input-text full-width"
												placeholder="" value="#{offerBean.o.mobilite}" />
										</div>
									</div>
									<div class="form-group row">


										<div class="col-sm-6 col-md-5">
											<label>Type de Bourse</label>
											<div class="selector">
												<h:selectOneMenu class="full-width"
													value="#{offerBean.o.typePoste}">
													<f:selectItem
														itemValue="Bourses et subventions du gouvernement "
														itemLabel="Bourses et subventions du gouvernement " />
													<f:selectItem itemValue="Collège Bourses spécifiques "
														itemLabel="Collège Bourses spécifiques " />
													<f:selectItem
														itemValue="Entreprises et des organisations  "
														itemLabel="Entreprises et des organisations  " />
												</h:selectOneMenu>
											</div>
										</div>


									</div>
									<hr />
									<div class="card-information">
										<h2>Description de la bourse:</h2>
										<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>DescriptionBourse</label>
												<h:inputTextarea rows="6" class="input-text full-width"
													placeholder="type here your message"
													value="#{offerBean.o.descriptionBourse}" />
											</div>
											<div class="col-sm-6 col-md-5">
												<label>Condition</label>
												<h:inputTextarea rows="6" class="input-text full-width"
													placeholder="type here your message"
													value="#{offerBean.o.conditionBourse}" />
											</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>Piece à fournir</label>
												<h:inputTextarea rows="6" class="input-text full-width"
													placeholder="type here your message"
													value="#{offerBean.o.pieceBourse}" />
											</div>
										</div>
									</div>
									<hr />
									<div class="form-group row">
										<div class="clearfix">
											<h:commandLink class="button btn-small pull-right"
												value="Confirmer" id="form_submit"
												action="#{offerBean.editBourse()}">
											</h:commandLink>
										</div>
									</div>
								</div>
							</h:form>

						</div>
					</div>
					<div class="sidebar col-sms-6 col-sm-4 col-md-3">
						<div class="booking-details travelo-box">
							<div class="travelo-box contact-box">
								<h4>Need Travelo Help?</h4>
								<p>We would be more than happy to help you. Our team advisor
									are 24/7 at your service to help you.</p>
								<address class="contact-details">
									<span class="contact-phone"><i class="soap-icon-phone"></i>
										1-800-123-HELLO</span> <BR /> <a class="contact-email" href="#">help@travelo.com</a>
								</address>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>