<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Liste des offres d'emploi</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des offres d'emploi</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Appel/Liste des offres d'emploi</li>
				</ul>
			</div>
		</div>
		<section id="content">
			<div class="container">
				<h:form>
					<h:dataTable value="#{offerBean.offres}" var="o">
						<div class="col-sm-8 col-md-9">
							<h:column>
								<div class="cruise-list listing-style3 cruise">
									<article class="box">
										<figure class="col-sm-4">
											<a title="" href="ajax/cruise-slideshow-popup.html"
												class="hover-effect popup-gallery"><img width="270"
												height="160" alt="" src="http://placehold.it/270x160" /></a>
										</figure>
										<div class="details col-sm-8">
											<div class="clearfix">
												<h4 class="box-title pull-left">
													<h:outputText value="#{o.titre}" />
													<small><h:outputText value="#{o.societé}" /></small>
												</h4>
												<span class="price pull-right"><small>Salaire
												</small> <h:outputText value="#{o.salaire}" /> </span>
											</div>
											<div class="character clearfix">
												<div class="col-xs-4 date">
													<i class="soap-icon-clock yellow-color"></i>
													<div>
														<span class="skin-color">Date</span><BR />
														<h:outputText value="#{o.dateFin}" />
														<h:outputText value="#{o.dateFin}" />
													</div>
												</div>
												<div class="col-xs-5 departure">
													<i class="soap-icon-departure yellow-color"></i>
													<div>
														<span class="skin-color">Lieu</span><BR />
														<h:outputText value="#{o.mobilite}" />
													</div>
												</div>
											</div>
											<div class="clearfix">
												<h3 class="box-title pull-left">
													<h:outputText value="#{o.entreprise}" />
												</h3>
											</div>
											<div class="clearfix">
												<div class="form-group row">
													<h:commandLink class="button btn-small pull-right"
														action="#{offerBean.select(o)}" value="Afficher">
														<f:setPropertyActionListener value="#{o}"
															target="#{offerBean.o}"></f:setPropertyActionListener>
													</h:commandLink>
												</div>
											</div>
										</div>
									</article>
								</div>
							</h:column>
						</div>
					</h:dataTable>

				</h:form>
			</div>
		</section>


	</ui:define>
</ui:composition>