<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Modification / Suppression </ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des Evenements</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Liste des Evenements</li>
				</ul>
			</div>
		</div>
		<section id="content">
			<div class="container">


				<h:form>
					<h4>Recherche :</h4>
					<div class="pull-left txt">

						<h:commandButton value="Rechercher"
							action="#{evenementBean.doSearch()}" class="btn btn-default">
							<i class="fa fa-search"></i>
						</h:commandButton>

					</div>
					<div class="pull-left txt">
						<h:inputText styleClass="form-control" placeholder="Search"
							value="#{evenementBean.motRecherche}" />
					</div>




					<h:dataTable value="#{evenementBean.myevent}" var="e">
						<div class="col-sm-8 col-md-9">
							<h:column>
								<div class="cruise-list listing-style3 cruise">
									<article class="box">
										<figure class="col-sm-4">
											<a title="" href="ajax/cruise-slideshow-popup.html"
												class="hover-effect popup-gallery"><img width="270"
												height="160" alt="" src="#{e.img}" /></a>
										</figure>
										<div class="details col-sm-8">
											<div class="clearfix">
												<h4 class="box-title pull-left">
													Nom:
													<h:outputText value="#{e.nom}" />
													<small>Tel: <h:outputText value="#{e.tel}" />
													</small>
												</h4>
												<span class="price pull-right"><small>Lieu </small> <h:outputText
														value="#{e.lieux}" /> </span>
											</div>
											<div class="character clearfix">
												<div class="col-xs-4 date">
													<i class="soap-icon-clock yellow-color"></i>
													<div>
														<span class="skin-color">Date de Debut</span><BR />
														<h:outputText value="#{e.dateDebut}" />
													</div>
													<div>
														<span class="skin-color">Date de Fin</span><BR />
														<h:outputText value="#{e.dateFin}" />
													</div>
												</div>
												<div class="col-xs-5 departure">
													<i class="soap-icon-departure yellow-color"></i>
													<div>
														<span class="skin-color">Nombre de Place</span><BR />
														<h:outputText value="#{e.nbrPlace}" />
													</div>
												</div>
												<div class="col-xs-5 departure">
													<i class="soap-icon-departure yellow-color"></i>
													<div>
														<span class="skin-color">Nombre de Place à Reserver</span><BR />
														<h:outputText value="#{e.nbrPlaceReser}" />
													</div>
													<div>
														<span class="skin-color">Type</span><BR />
														<h:outputText value="#{e.type}" />
													</div>
													<div>
														<span class="skin-color">Lieu</span><BR />
														<h:outputText value="#{e.lieux}" />
													</div>
												</div>
											</div>
											<div class="clearfix">
												<h3 class="box-title pull-left">
													Prix
													<h:outputText value="#{e.prix}" />
												</h3>
											</div>
											<div class="clearfix">
												<h3 class="box-title pull-left">
													Utilisateur:
													<h:outputText value="#{e.user.login}" />
												</h3>
											</div>
											<div class="clearfix">
												<h:commandLink class="button btn-small pull-right"
													action="#{evenementBean.edit(e)}" value="mettre à jour">
													<f:setPropertyActionListener value="#{e}"
														target="#{evenementBean.e}"></f:setPropertyActionListener>
												</h:commandLink>

												<h:commandLink class="button btn-small pull-right"
													action="#{evenementBean.doDelete()}" value="Delete">
													<f:setPropertyActionListener value="#{e}"
														target="#{evenementBean.e}"></f:setPropertyActionListener>
												</h:commandLink>

											</div>
										</div>
									</article>
								</div>
							</h:column>
						</div>

					</h:dataTable>
					<div>
					</div>


				</h:form>

			</div>
		</section>
	</ui:define>
</ui:composition>