<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">new offer</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Proposer un centre de recherche</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">Proposer un centre de recherche</li>
				</ul>
			</div>
		</div>

		<section id="content" class="gray-area">
			<div class="container">
				<div class="row">
					<div id="main" class="col-sms-6 col-sm-8 col-md-9">
						<div class="booking-section travelo-box">

							<h:form class="booking-form">
								<div class="person-information">
									<h2>Détails de l'annonce</h2>
									<!-- ****************************Informations generales****************************************************************** -->
									
										<H3>Informations Generales</H3>
										<div class="col-sm-6 col-md-9">
										<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>nom Centre</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_nom}" />
											</div>
									
									
											<div class="col-sm-6 col-md-5">
												<label>type Centre</label>
												<div class="selector">
												<h:selectOneMenu value="#{cdBean.centredoc.cen_type}"
													class="full-widthvalue=">
                                                    <f:selectItem
														itemValue="Specialise" itemLabel="Specialise" />
                                                    <f:selectItem
														itemValue="Mediatheque" itemLabel="Mediatheque" />
                                                    <f:selectItem
														itemValue="Generaliste" itemLabel="Generaliste" />
                                                    <f:selectItem
														itemValue="Archive" itemLabel="Archive" />
													<f:selectItem itemValue="Associative"
														itemLabel="Associative" />
													<f:selectItem itemValue="Privee" itemLabel="Privee" />
													<f:selectItem itemValue="Ministere" itemLabel="Ministere" />
													<f:selectItem itemValue="Universitaire"
														itemLabel="Universitaire" />
													<f:selectItem itemValue="Numerique" itemLabel="Numerique" />
												</h:selectOneMenu>
											</div>
											</div>
										</div>
										
											<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>pays Centre</label>
												
											</div>															
												<div class="col-sm-6 col-md-5">
												<label>Type Centre</label>
												<div class="selector">
												<h:selectOneMenu value="#{cdBean.centredoc.type}"
													class="full-widthvalue=">
													<f:selectItem itemValue="Centre de recherche"
														itemLabel="centre de recherche" />
                                                    <f:selectItem
														itemValue="biblioheque" itemLabel="bibiliotheque" />
												</h:selectOneMenu>
												</div>
											</div>
											</div>
											
										
											<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>sigle Centre</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_sigle}" />
											</div>
											
											<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>image Centre</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_image_url}" />
												</div>			
											</div>
										</div>
										

										<!-- ************************************************************************************************************************************ -->

										<!-- ***************************************Localisation********************************************************** -->

										<H3>Localisation</H3>
										<div class="form-group row">
										
											<div class="col-sm-6 col-md-4">
												<label>pays</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.local.cen_pays}" />
												
											</div>
											<div class="col-sm-6 col-md-4">
												<label>ville</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.local.cen_ville}" />
											</div>
											<div class="col-sm-6 col-md-4">
												<label>lat</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.local.latitude}" />
											</div>
											<div class="col-sm-6 col-md-4">
												<label>long</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.local.longitude}" />
											</div>
										</div>
<!-- ************************************************************************************************************************************ -->

										<!-- ***************************************Autres Informations********************************************************** -->


										<H3>Autres Informations</H3>
										<div class="form-group row">
										
											<div class="col-sm-6 col-md-5">
												<label>horraire</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_horaires}" />
											</div>
											<div class="col-sm-6 col-md-5">
												<label>access type</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_acces_type}" />
											</div>
											</div>
											<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<label>catalogue url</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_catalogue_url}" />
											</div>
											<div class="col-sm-6 col-md-5">
												<label>internet type</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_internet_type}" />
											</div>
											</div>
										
<!-- ************************************************************************************************************************************ -->

										<!-- ***************************************Contacts********************************************************** -->

										<H3>Autres Informations</H3>
										<div class="form-group row">
										<div class="col-sm-6 col-md-9">
											<div class="col-sm-6 col-md-5">
												<label>code Postal</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.local.cen_codepostal}" />
											</div>
											<div class="col-sm-6 col-md-5">
												<label>access type</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_siteweb_url}" />
											</div>
											<div class="col-sm-6 col-md-5">
												<label>facebook</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_facebook_url}" />
											</div>
											<div class="col-sm-6 col-md-5">
												<label>mail</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_contact_email}" />
											</div>
											<div class="col-sm-6 col-md-5">
												<label>telephone</label>
												<h:inputText class="input-text full-width" placeholder="ref"
													value="#{cdBean.centredoc.cen_contact_telephone}" />
											</div>
										</div>
										</div>
										</div>







										<div class="form-group row">
											<div class="col-sm-6 col-md-5">
												<div Class="full-width btn-large">
													<h:commandButton value="Button Text" id="form_submit"
														action="#{cdBean.proposeCenter()}"  />
											</div>
										</div>
										</div>
									
								</div>
							</h:form>
						</div>

					</div>

					<div class="sidebar col-sms-6 col-sm-4 col-md-3">
						<div class="booking-details travelo-box">


							<div class="travelo-box contact-box">
								<h4>Need Travelo Help?</h4>
								<p>We would be more than happy to help you. Our team advisor
									are 24/7 at your service to help you.</p>
								<address class="contact-details">
									<span class="contact-phone"><i class="soap-icon-phone"></i>
										1-800-123-HELLO</span> <BR /> <a class="contact-email" href="#">help@travelo.com</a>
								</address>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<hr />




	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>