<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">
	<ui:define name="title">Liste des offres d'emploi</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Reclamation</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Appel/Reclamation</li>
				</ul>
			</div>
		</div>
		<section id="content" class="">
			<div class="container">
				<div class="tab-container full-width-style arrow-left dashboard">
					<ul class="tabs">
						<li class="active"><a data-toggle="tab" href="#dashboard"><i
								class="soap-icon-anchor circle"></i>Reclamation</a></li>
					</ul>
					<div class="tab-content">
						<div id="dashboard" class="tab-pane fade in active">
							<div class="row block">
								<h:form class="booking-form">
									<div class="person-information">
									<div class="form-group row">
											<label>Titre </label>
											<h:inputTextarea value="#{reclamationbean.rec.titre}"
												rows="6" class="input-text full-width"
												placeholder="please tell us about you" />
										</div>
										<div class="form-group row">
											<label>Decrire votre Reclamation</label>
											<div class="selector">
													<h:selectOneMenu value="#{reclamationbean.rec.type}"
														class="full-widthvalue=">
														
                                                    <f:selectItem
															itemValue="Technique" itemLabel="technique" />
                                                    <f:selectItem
															itemValue="Contenu du site" itemLabel="Contenu du site" />
													</h:selectOneMenu>
												</div>
										</div>
										<div class="form-group row">
											<label>Decrire votre Reclamation</label>
											<h:inputTextarea value="#{reclamationbean.rec.message}"
												rows="6" class="input-text full-width"
												placeholder="please tell us about you" />
										</div>
									</div>
									<hr />
									<div class="form-group row">
											<div class="clearfix">
												<h:commandLink class="button btn-small pull-right"
													value="Confirmer" id="form_submit"
													action="#{ reclamationbean.doAddRec()}">
												</h:commandLink>
											</div>
									</div>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</ui:define>
</ui:composition>