<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<!-- Theme Styles -->

	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/font-awesome.min.css" />
	<link
		href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900'
		rel='stylesheet' type='text/css' />
	<link
		href='http://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500'
		rel='stylesheet' type='text/css' />
	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/animate.min.css" />

	<!-- Main Style -->
	<link id="main-style" rel="stylesheet"
		href="#{request.contextPath}/ressources/css/style.css" />

	<!-- Custom Styles -->
	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/custom.css" />

	<!-- Updated Styles -->
	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/updates.css" />

	<!-- Responsive Styles -->
	<link rel="stylesheet"
		href="#{request.contextPath}/ressources/css/responsive.css" />


	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/ressources/css/ie.css" />



</h:head>
<body class="soap-login-page style1 body-blank">
	<section id="content">
	<div class="container">
		<div id="main">
			<h1 class="logo block">
				<a href="#{request.contextPath}/template/index.jsf"
					title="Travelo - home"> <img src="images/IRMC_LOGO.png"
					alt="IRMC Home Page" />
				</a>
			</h1>
			<div class="text-center yellow-color box"
				style="font-size: 4em; font-weight: 300; line-height: 1em;">Welcome
				To IRMC Sign Up Page</div>
			<p class="light-blue-color block" style="font-size: 1.3333em;">Please
				Sign Up and create an account on our Site to discover more
				functionalities.</p>
			<div
				class="col-sm-8 col-md-6 col-lg-5 no-float no-padding center-block">
				<h:form id="register">

					<div class="form-group">
						<h:outputText value="Email" />
						<h:inputText class="input-text input-large full-width"
							value="#{regBean.user.email}"
							requiredMessage="Mail Address is required" required="true"
							validatorMessage="invalid email!" placeholder="Email">
							<f:validateRegex
								pattern="^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" />

						</h:inputText>
					</div>
					<div class="form-group">
						<h:outputText value="Login" />
						<h:inputText class="input-text input-large full-width"
							value="#{regBean.user.login}" requiredMessage="Login is required"
							required="true" placeholder="Login">

						</h:inputText>

					</div>
					<div class="form-group">
						<h:outputText value="Password" />
						<h:inputText value="#{regBean.user.password}"
							class="input-text input-large full-width"
							requiredMessage="Password is required" required="true"
							placeholder="Your Password">

						</h:inputText>

					</div>
					<div class="form-group">
						<h:outputText value="Date of birth" />
						<h:inputText id="birthdate"
							class="input-text input-large full-width"
							value="#{regBean.user.birthDate}"
							converterMessage="Example: 17/12/2010">
							<f:convertDateTime pattern="dd/MM/yyyy" />
							<f:ajax event="blur" execute="@this" render="msg_birthdate" />
						</h:inputText>

					</div>

					<h:commandButton id="login_submit" class="btn-large sky-blue1"
						action="#{regBean.doSignUp()}" value="Sign Up" />

					<h:message for="login_submit" styleClass="error" />

				</h:form>
			</div>
		</div>
	</div>
	</section>

	<!-- Javascript -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery.noconflict.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/modernizr.2.7.1.min.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery.placeholder.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery-ui.1.10.4.min.js"></script>

	<!-- Twitter Bootstrap -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/bootstrap.js"></script>

	<script type="text/javascript">
        var enableChaser = 0;
    </script>
	<!-- parallax -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/jquery.stellar.min.js"></script>

	<!-- waypoint -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/waypoints.min.js"></script>

	<!-- load page Javascript -->
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/theme-scripts.js"></script>
	<script type="text/javascript"
		src="#{request.contextPath}/ressources/js/scripts.js"></script>


</body>
</html>
