<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml"
                xmlns:p="http://primefaces.org/ui">
	<ui:define name="title">Modification / Suppression </ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">

		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">Liste des Evenements</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">ACCUEIL</a></li>
					<li class="active">Liste des Evenements</li>
				</ul>
			</div>
		</div>
		
		
		
		
		
		
		
		<section id="content">
			<div class="container">
				<h:form >
				<h:dataTable value="#{evenementBean.foundEvent}" var="e">
					
						<div class="col-sm-8 col-md-9">
							<h:column>
								<div class="cruise-list listing-style3 cruise">
									<article class="box">
										<figure class="col-sm-4">
											<a title="" href="ajax/cruise-slideshow-popup.html"
												class="hover-effect popup-gallery"><img width="270"
												height="160" alt="" src="http://placehold.it/270x160" /></a>
										</figure>
										<div class="details col-sm-8">
											<div class="clearfix">
												<h4 class="box-title pull-left">Nom:
													<h:outputText value="#{e.nom}" />
													<small>Localisation:
													<h:outputText value="#{e.map}" />
													</small>
													<small>Lieu
													<h:outputText value="#{e.lieux}" />
													</small>
													
												</h4>
												
											
										</div>
										</div>
									</article>
								</div>
							</h:column>
						</div>
					</h:dataTable>
				</h:form>
			</div>
		</section>
	</ui:define>
</ui:composition>