<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/index.xhtml">

	<ui:define name="title">List Document</ui:define>
	<ui:define name="headerContent"></ui:define>
	<ui:define name="MainContent">
		<div class="page-title-container">
			<div class="container">
				<div class="page-title pull-left">
					<h2 class="entry-title">List Documents</h2>
				</div>
				<ul class="breadcrumbs pull-right">
					<li><a href="#">Accueil</a></li>
					<li class="active">List Documents</li>
				</ul>
			</div>
		</div>
		<section id="content" class="gray-area">
			<div class="container">
				<div class="row">
				<div class="col-sm-4 col-md-3"> 
                            <h4 class="search-results-title"><i class="soap-icon-search"></i></h4>
                            <div class="toggle-container filters-container">
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#price-filter" class="collapsed">Category</a>
                                    </h4>
                                    <div id="price-filter" class="panel-collapse collapse">
                                      <div class="panel-content">
                                           
                                            <br/>
                                            <h:form>
                                            <div class="selector">
                                            <h:selectOneMenu value="#{documentBean.category}">
                                            
                                             <f:selectItem itemLabel="Select Category"/>
                                             <f:selectItems value="#{data.category}"></f:selectItems>
                                            </h:selectOneMenu>
                                            </div>
                                             <h:commandLink action="#{documentBean.doSearchByCategory(documentBean.category)}" value="Search" />
                                            </h:form>
                                            
                                            <div class="clearer"></div>
                                        </div><!-- end content -->
                                    </div>
                                </div>
                            
                                
    
                            </div>
                        </div>
				
				
				
				
					<div class="col-sm-8 col-md-9">
                            <div class="sort-by-section clearfix">
                                <h4 class="sort-by-title block-sm">Sort results by:</h4>
                                <ul class="sort-bar clearfix block-sm">
                                    <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
                                    <li class="sort-by-price"><a class="sort-by-container" href="#"><span>price</span></a></li>
                                    <li class="clearer visible-sms"></li>
                                    <li class="sort-by-rating active"><a class="sort-by-container" href="#"><span>rating</span></a></li>
                                    <li class="sort-by-popularity"><a class="sort-by-container" href="#"><span>popularity</span></a></li>
                                </ul>
                                
                                <ul class="swap-tiles clearfix block-sm">
                                    <li class="swap-list active">
                                        <a href="hotel-list-view.html"><i class="soap-icon-list"></i></a>
                                    </li>
                                    <li class="swap-grid">
                                        <a href="hotel-grid-view.html"><i class="soap-icon-grid"></i></a>
                                    </li>
                                    <li class="swap-block">
                                        <a href="hotel-block-view.html"><i class="soap-icon-block"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <h:dataTable value="#{documentBean.lstTopRated}" var="doc" class="hotel-list listing-style3 hotel" >
                               <h:column>
                                  <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></img></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">
                                                    
                                                     <h:outputText value="#{doc.name}" />
                                                </h4>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-fitnessfacility circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-television circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="five-stars-container">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                                <span class="review"><h:outputText value="#{doc.rate}" /> reviews</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p>
                                                
                                                 <h:outputText value="#{doc.description}" />
                                            </p>
                                            <div>
                                                <span class="price"><small>Search Date</small><h:outputText value="#{doc.searchDate}" /></span>
                                                <a class="button btn-small full-width text-center" title="" href="hotel-detailed.html">SELECT</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                               
                               </h:column>
                            
                            </h:dataTable>
                           
                        
                        </div>
			</div>
			
			</div>

		</section>


	</ui:define>
	<ui:define name="footerContent"></ui:define>
</ui:composition>